<% include partials/header %>

<a href="/campgrounds">Back</a>

<h1>Create a New Campground</h1>

<form action="/campgrounds" method="POST">
    <input type="text" name="newCampgroundName" placeholder="Campground Name">
    <input type="text" name="newCampgroundImage" placeholder="Image URL">
    <input type="submit">
</form>

<% include partials/footer %>